<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Designation Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<h1>Designation Form</h1>
<form th:action="@{/designations/save}" th:object="${designation}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label>Name:</label>
        <label>
            <input type="text" th:field="*{name}" required/>
        </label>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a class="button" href="/designations">Back to Designation List</a>
<a class="button" th:href="@{/add}">Add Employee</a>

</body>
</html>
